<div class="login-container">
    <mat-card class="login-card">
        <mat-card-title>Login</mat-card-title>
        <mat-divider></mat-divider>
        <form class="login-form" [formGroup]="userForm" (ngSubmit)="login()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" />
            </mat-form-field>

            <button mat-raised-button color="primary" [class.spinner]="loading$ | async" [disabled]="loading$ | async"
                type="submit">
                Login</button><br />
        </form>
    </mat-card>
</div>