<mat-toolbar *ngIf="userService.user">
  <a *ngFor="let menuLink of links" mat-button [routerLink]="menuLink.link" routerLinkActive #rla="routerLinkActive"
    [color]="rla.isActive ? 'primary' : ''" [routerLinkActiveOptions]="{exact:
      true}">{{menuLink.label}}</a>
  <span class="spacer"></span>
  <button mat-icon-button class="logout" aria-label="Logout" (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>


<div class="container-fluid">
  <router-outlet></router-outlet>
</div>